# Data Science Tools and Ecosystem

## Author
Jeff C

# In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- Show popular languages in Data Science
- Show commonly used libraries in Data Science
- Write a couple arithmetic expressions

Some of the popular languages that Data Scientists use are:
    1. Python
    2. R
    3. SQL

Some of the commonly used libraries used by Data Scientists include:
    1. Pandas
    2. NumPy
    3. TensorFlow

|Data Science Tools|
|------|
|Juypter|
|Spyder|
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335